// ---------------------------------  
// Rafael Corsi @ insper . edu . br
//              2018a
// ---------------------------------
//
// Descritivo   :
//  Faça a divisão do valor de temp 0 por temp 1
//  salve o resultado em temp 3
//
//  temp 3 = temp 0 / temp 1
//
//  assuma que temp 0> temp 1 e ambos inteiros
// ----------------------------------

function Main.main 0
label LOOP            // Começa loop
  push temp 0         // Coloca 0 na pilha 
  push constant 0     // Verifica se temp 0 = 0
  eq
  if-goto end         // Se condicao for veradeira vai para o fim

  push temp 0         // Coloca valor de temp 0 na pilha
  push temp 1         // Coloca valor de temp 1 na pilha
  sub                 // Subtrai 
  pop temp 0          // Salva resultado em temp 0

  push temp 3         // Coloca valor de temp 3 na pilha
  push constant 1     // Coloca valor 1 na pilha
  add                 // Soma valor de temp 3 + 1
  pop local 0          // Salva em temp 3

  goto LOOP            // Retorna para o loop
   
label end

// esse loop sempre deve existir!
// caso contrario o computador vai
// executar lixo de memoria.
label while
  goto while
